@import '~antd/dist/antd.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.teacher__hour {

}

/* .teacher__day:hover,
.teacher__day:active {
  background: #e6f7ff !important;
} */

.teacher__hour:hover {
  font-weight: 200;
}